<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartoon_tb_fly_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{20,23}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{1,1},{20,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_tb_fly_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,39}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{23,1},{64,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_tb_fly_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,63}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{89,1},{122,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_tb_fly_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,97}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{213,1},{128,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_tb_fly_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{302,157}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{343,1},{302,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_tb_fly_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{410,223}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{1,160},{410,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_tb_fly_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,259}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{413,160},{550,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_tb_fly_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,345}</string>
                <key>spriteSourceSize</key>
                <string>{640,345}</string>
                <key>textureRect</key>
                <string>{{1,421},{640,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cartoon_tb_fly.png</string>
            <key>size</key>
            <string>{964,767}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e373086c2b70f837e4b9712c3c396b90:65a54839c573fc5e1e4ed79c9b9b472a:229796241bbde351ed77db623434600f$</string>
            <key>textureFileName</key>
            <string>cartoon_tb_fly.png</string>
        </dict>
    </dict>
</plist>
