<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartoon_bz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_bz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{195,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_bz_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{389,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_bz_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{583,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_bz_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{777,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_bz_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{971,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_bz_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{1165,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_bz_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,208}</string>
                <key>spriteSourceSize</key>
                <string>{192,208}</string>
                <key>textureRect</key>
                <string>{{1359,1},{192,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cartoon_bz.png</string>
            <key>size</key>
            <string>{1552,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5d2e0c0ccdbeb6a71d642d8146b3f02:ff235df2bc3e7a356143aced5caead49:1b308ee2fa7bf60d8502e0fccd77e477$</string>
            <key>textureFileName</key>
            <string>cartoon_bz.png</string>
        </dict>
    </dict>
</plist>
