<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cartoon_boom_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,584}</string>
                <key>spriteSourceSize</key>
                <string>{608,584}</string>
                <key>textureRect</key>
                <string>{{1,1},{608,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cartoon_boom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,584}</string>
                <key>spriteSourceSize</key>
                <string>{608,584}</string>
                <key>textureRect</key>
                <string>{{1,611},{608,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_boom_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,584}</string>
                <key>spriteSourceSize</key>
                <string>{608,584}</string>
                <key>textureRect</key>
                <string>{{587,1},{608,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cartoon_boom_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,584}</string>
                <key>spriteSourceSize</key>
                <string>{608,584}</string>
                <key>textureRect</key>
                <string>{{611,611},{608,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cartoon_boom_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,584}</string>
                <key>spriteSourceSize</key>
                <string>{608,584}</string>
                <key>textureRect</key>
                <string>{{1173,1},{608,584}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cartoon_boom.png</string>
            <key>size</key>
            <string>{1758,1196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:354f58fe708608f5587046dd55c34e00:7ffd0317d5395cd0e7f2e37e4c94aabf:e2c6e4b259793d2fecfff2c8a6553dab$</string>
            <key>textureFileName</key>
            <string>cartoon_boom.png</string>
        </dict>
    </dict>
</plist>
